<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culinary Connoisseur</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
</head>

<header>
    <button id="side-menu-toggle">Menu</button>
    <div class="nav_container">
      <nav class="main-header_nav">
        <ul>
            <a action="/home" href="/"><img src="../images/CulinaryLogo.png" alt="LOGO" class="logo"></a>
            <li><a href="#">All Recipes</a></li>
            <li><a href="#">User's Recipes</a></li>
            <li><a href="#">Favorite Recipes</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a action="/signInUp" class="active" href="/signInUp">Login</a></li>
            <li><a action="/preferences" class="active"href="/preferences">Preferences</a></li>

        </ul>
      </nav>
    </div>
  </header>

<body>
    <br>
    <!-- sign in portion -->
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="last Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <!-- <form action="#"> -->
        <form>
        <h1>Sign in</h1>
        <input type="email" placeholder="Email" />
        <input type="password" id='password' name="password" placeholder="Password" />
        <div class='passwordToggle'>Show Password</div><br>
        <a style="font-size: 15px;" href="#">Forgot your password?</a>
        <button class="button" onclick="window.location.href='UserProfileInfo.html'">Sign In</button>
      </form>
    </div>
    <!-- sign up portion -->
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep track of some great recipes please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p style="font-weight: 2px;">Enter your personal details and start cooking with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

  <footer>Culinary Connoisseur</footer>
  <script src='/js/login.js'></script>
</body>
</html>