<header>
    <button id="side-menu-toggle">Menu</button>
    <div class="nav_container">
      <nav class="main-header_nav">
        <ul>
            <a href="/"><img src="../../images/CulinaryLogo.png" alt="logo" class="logo"></a>
            <li><a href="/recipes">All Recipes</a></li>
            <li><a href="#">User's Recipes</a></li>
            <li><a href="#">Favorite Recipes</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a action="/preferences" href="/preferences">Preferences</a></li>
            <li><form action="/logout" method="POST" class="navForm"><button style="background: rgb(129, 118, 19); font-family: Avenir Next, sans-serif; font-weight:normal; font-size: 18px; float: left;"  id="logoutBtn" type="submit">Log Out</button></form></li>
        </ul>
      </nav>
    </div>
  </header>